body {
    font-family: monospace, Arial, sans-serif;
    margin: 0;
    padding: 5px;
    background-image: url('media/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #111;
    color: white;
}

header {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

main {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #a8a8a8;
}

a {
    color: aqua;
}

.image-container {
    padding: 5px;
    margin-top: 20px;
    border: 1px transparent;
    border-radius: 10px;
}

.image-container:hover {
    border-style: solid;
    border-color: aqua;
}

.toggle {
    display: none;
}

.hidden-content {
    max-width: 800px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-in-out;
    margin: 10px;
}

/* Select .hidden-content that follows .toggle */
.toggle:checked~.hidden-content {
    max-height: 1000px;
}