body {
    font-family: monospace, Arial, sans-serif;
    margin: 0;
    padding: 5px;
    background-image: url('media/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #111;
    color: white;
}

header {
    background-color: #33333399;
    padding: 20px;
    border-radius: 5px;
}

main {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

footer {
    background-color: #33333399;
    color: #a8a8a8;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

a {
    color: aqua;
}

img {
    aspect-ratio: fixed;
    max-width: min(500px, 100%);
    max-height: 400px;
    border-radius: 10px;
}

video {
    aspect-ratio: fixed;
    max-width: min(500px, 100%);
    max-height: 400px;
    border-radius: 10px;
    margin-right: 20px;
}

.image-container {
    padding: 5px;
    margin-top: 20px;
    border: 1px transparent;
    border-radius: 10px;
}

.image-container:hover {
    border-style: solid;
    border-color: aqua;
}

.toggle {
    display: none;
}

.hidden-content {
    margin: 20px;
    max-width: 100%;
    max-height: 0;
    transition: max-height 1.0s ease-in-out;
    text-align: left;
    overflow: hidden;
    display: flex;
    gap: 20px;
    flex-flow: wrap;
}

/* Select .hidden-content that follows .toggle */
.toggle:checked~.hidden-content {
    max-height: 3000px;
}

.hidden-content div {
    flex: 1;
    min-width: 250px;
}