body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #111;
    background-image: url('media/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

header {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

main {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    height: 1000px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #a8a8a8;
    background-color: #111;
}